*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-primary: #d8d4d4;
}

html {
  font-size: 16px;
}

body {
  background: var(--bg-primary);
}
.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  border-radius: 27px;
  background: linear-gradient(145deg, #c2bfbf, #e7e3e3);
  box-shadow: 10px 10px 20px #827f7f, -10px -10px 20px #ffffff;
}
.bg-primary {
  background: var(--bg-primary);
}
